/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
body {
    font-family: 'Fredoka', sans-serif;
}

.pink-text{
    color: #B12B59;

}

.white-text{
    color: #FFFFFF;
}

.black-bg{
    background-color: #100E17;
}

.blue-text{
    color: #007bff;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

header{
    padding: 20px 0;
    text-align: center;
}

p{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* LAYOUT*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.card {
    float: left;
    width: 30%;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* MAIN */

.card img {
    float: left;
    margin-right: 10px;
    width: 80px;
    height: 80px;
}


.card-info h2 {
    margin: 0 0 5px 0;
    font-size: 1.2em;
}

.card-info p {
    margin: 0;
    font-size: 0.9em;
}

.card-info p.email {
    margin-top: 5px;
    font-weight: bold;
    
}


  