/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

body {
    font-family: 'Fredoka', sans-serif;
}

.pink-text{
    color: #B12B59;

}

.white-text{
    color: #FFFFFF;
}

.black-bg{
    background-color: #100E17;
}

.blue-text{
    color: #007bff;
}


/* 
    LAYOUT
*/

.text-container{
    max-width: 1200px;
    margin: 0 auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 calc(50% - 960px/2); 
  }
  
.card {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    float: left;
  }

.card-content {
    float: left;
  }

.card::after {
    content: "";
    clear: both;
    display: table;
}


/* 
    HEADER
*/

header{
    padding: 20px 0;
    text-align: center;
}

p{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* 
    MAIN
*/

.card img {
    float: left;
    margin-right: 10px;
    height: 100px;
    width: 100px;
  }
  

  
.card-content h2 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
.card-content p {
    margin: 0;
    line-height: 1.5;
  }
  